.about {
  padding: 270px 0 56px;
  background-color: var(--white);
}

.about__subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.57;
  color: var(--text-color);
}

.about__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 1.57;
  color: var(--green);
  max-width: 504px;
}

.about__descr {
  font-weight: 500;
  line-height: 1.5;
  color: var(--text-color);
  max-width: 671px;
}

.about__header {
 display: grid;
 grid-template-columns: 504px auto;
  align-items: center;
  gap: 30px;
}

.about__cards {
  padding-top: 120px;
  counter-reset: counter;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 20px;
}

.about__cards .card:nth-child(2) {
  margin-top: 240px;
}

@media (max-width: 1250px) {
  .about__header {
    align-items: start;
  }
  .about__cards {
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }

  .about__cards .card:nth-child(2) {
  margin-top: 0;
  row-gap: 30px;
}
}

@media (max-width: 1024px) {
   .about__header {
    margin: 0 auto;
    grid-template-columns: 1fr;

  }
  .about__title,
  .about__descr {
    max-width: 100%;
    text-align: center;
  }
}

@media (max-width: 576px) {
  .about__title {
    font-size: 35px;
  }
  .about__descr {
    font-size: 16px;
  }

}
